header {
    position: relative;
    font-family: $heading;
    
}

.header-banner {
    @extend .polaroid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(1, 22, 50, 0.45)), url("./../images/travelApp-banner.jpg");
}


.next {
    text-decoration: none;
    border: none;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    transform: rotate(90deg);
    background-color: $secondary;

    .fa-plane {
        font-size: 20px;
        color: white;
        text-align: center;
    }
}
