
.slider {
    width: 60%;
    margin-top: 400px;
    border-radius: none;   
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: $primary;
    cursor: pointer;
    border: none;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $primary;
    cursor: pointer;
    border: none;
}

h2{
    text-align: center;
}


.question-01 {
    @extend .polaroid;
    background-image: url("./../images/mountain_filter.jpg");  
}

.question-02 {
    @extend .polaroid;
    background-image: url("./../images/forrest_filter.jpg");  
}

.question-03 {
    @extend .polaroid;
    background-image: url("./../images/internet_filter.jpg");  
}


.rotate{
    animation:rotate 0.5s both;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.polaroid-container {
    position: relative;
}


#fourthButton {
    color: $primary;
    text-align: center;
    letter-spacing: 5px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
}
