.results{
    position: relative;
}
.result-container {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    border-top: 5px solid $secondary;
    color: $secondary;
    .result-flags {
        @extend .polaroid;
        box-shadow: none;
        h2 {
            padding-top: 50px;
        }
    }
}
.flag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px){
        flex-direction: column;
    }
    img{
        border: 1px solid grey;
        min-height: 180px;
    }
}
.flag img:hover {
    transform: scale(1.1);
    transition: all .5s ease-in-out;
    box-shadow: 0px 0px 5px black;
    
}



// styling for the pop up

.hidden{
    display: none;
  }
.overlay{
    position: absolute;
}
.greyed{
    background: rgba(0,0,0,0.5);
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    z-index: 1;
}
.pop-up{
    position:absolute;
    margin: 0 auto;
    width: 90vw;
    height: 80vh;
    top: 30px;
    bottom:0;
    right: 0;
    left:0;
    border-radius: 30px; 
    background: white;
    z-index: 2;
}

  