$primary: #F5EEE0;
$secondary: #141178;
// $background: #f6f6f6;
$heading: 'Raleway', sans-serif;
$secHeading: 'Lateef', cursive;

.polaroid{
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 80vh;
    margin: 25px auto;
    margin-bottom: 100px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

@import "partials/setup.scss";
@import "partials/header.scss";
@import "partials/main.scss";
@import "partials/results.scss";



body {
    font-family: $secHeading;
    background-color: $primary;
    text-align: center;

}

h2 {
    font-size: 24px;
    letter-spacing: 1px;
}

// .wrapper{
//     max-width: 1180px;
//     // margin: 0 auto;
// }


footer {
    background-color:white;
     p {
        color: #141178;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        margin: 0;
    }
}