.polaroid, .header-banner, .question, .result-container .result-flags {
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 80vh;
  margin: 25px auto;
  margin-bottom: 100px;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5); }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  position: relative;
  font-family: "Raleway", sans-serif; }

.header-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(1, 22, 50, 0.45))), url("./../images/travelApp-banner.jpg");
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(1, 22, 50, 0.45)), url("./../images/travelApp-banner.jpg");
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(1, 22, 50, 0.45)), url("./../images/travelApp-banner.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(1, 22, 50, 0.45)), url("./../images/travelApp-banner.jpg"); }

.next {
  text-decoration: none;
  border: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #141178; }
  .next .fa-plane {
    font-size: 20px;
    color: white;
    text-align: center; }

input[type=range] {
  width: 100%; }

h2 {
  text-align: center; }

.question {
  background-image: url("./../images/image-01.jpg"); }

.rotate {
  -webkit-animation: rotate 0.5s both;
  animation: rotate 0.5s both; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

.results {
  position: relative; }

.result-container {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  border-top: 5px solid #141178;
  color: #141178; }
  .result-container .result-flags {
    -webkit-box-shadow: none;
    box-shadow: none; }
    .result-container .result-flags h2 {
      padding-top: 50px; }

.flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 768px) {
    .flag {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .flag img {
    border: 1px solid grey;
    min-height: 180px; }

.flag img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black; }

.hidden {
  display: none; }

.overlay {
  position: absolute; }

.greyed {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1; }

.pop-up {
  position: absolute;
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 30px;
  background: white;
  z-index: 2; }

body {
  font-family: "Lateef", cursive;
  background-color: #F5EEE0;
  text-align: center; }

h2 {
  font-size: 24px;
  letter-spacing: 1px; }

footer {
  background-color: white; }
  footer p {
    color: #141178;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0; }
